/* @import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@latest/custom.css"); */


@import url('https://cdn.jsdelivr.net/gh/sansui233/logseq-bonofix-theme/custom.css');

@import url("https://cdn.jsdelivr.net/gh/adobe-fonts/source-sans@3.046R/source-sans-3VF.css");


@font-face {
  font-family: "Source Han Sans VF";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("https://cdn.jsdelivr.net/gh/adobe-fonts/source-han-sans@release/Variable/WOFF2/OTF/Subset/SourceHanSansCN-VF.otf.woff2");
}

:root {
  --ls-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", "Source Sans 3 VF", "Source Han Sans VF" , Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

/* 让左侧栏的标题更黑 */
.left-sidebar-inner .nav-content-item {
  font-size: 0.875rem;
  font-weight: 500;
}